@this(ctx : fr.cea.ig.ngl.NGLApplication, menu_ : menu)
@(code : String)

@import models.laboratory.common.description.ObjectType

@minifyEnabled = @{ true == ctx.nglConfig().isMinified() }

@scripts() = {
    <script src="@controllers.main.tpl.routes.Main.jsCodes" type="text/javascript" charset="utf-8"></script> 
    <script src="@controllers.main.tpl.routes.Main.jsPermissions" type="text/javascript" charset="utf-8"></script>
    <script src="@controllers.main.tpl.routes.Main.jsPrintTag" type="text/javascript" charset="utf-8"></script>
    <script src="@controllers.main.tpl.routes.Main.jsAppURL" type="text/javascript" charset="utf-8"></script>
    
    @if(!minifyEnabled) {
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/app.js")" type="text/javascript" charset="utf-8"></script>

        <script src="@routes.Assets.at("lib/datatable/datatable/javascripts/services/ultimate-datatable.js")" type="text/javascript" charset="utf-8"></script> 

        <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/commons.js")" type="text/javascript" charset="utf-8"></script> 
        <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/bt-input.js")" type="text/javascript" charset="utf-8"></script> 
        <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/list-resize.js")" type="text/javascript" charset="utf-8"></script>

        <script src="@routes.Assets.at("lib/lib-frameworkweb/ngl-common/javascripts/controllers/mainctrl.js")" type="text/javascript" charset="utf-8"></script>

        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/instruments-ctrl.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/instruments-service.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/instruments-ctrl.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/imports-service.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/imports-ctrl.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/protocols/protocols-service.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/protocols/details-protocol-ctrl.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/protocols/protocols-ctrl.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/experiments-service.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/experiments-ctrl.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/mapping-projects/mapping-projects-service.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/mapping-projects/mapping-projects-ctrl.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/processes-service.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/processes-ctrl.js")" type="text/javascript" charset="utf-8"></script>
    } else {
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/app.min.js")" type="text/javascript" charset="utf-8"></script>
        
        <script src="@routes.Assets.at("lib/datatable/datatable/javascripts/services/ultimate-datatable.min.js")" type="text/javascript" charset="utf-8"></script> 

        <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/commons.min.js")" type="text/javascript" charset="utf-8"></script> 
        <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/bt-input.min.js")" type="text/javascript" charset="utf-8"></script> 
        <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/list-resize.min.js")" type="text/javascript" charset="utf-8"></script>

        <script src="@routes.Assets.at("lib/lib-frameworkweb/ngl-common/javascripts/controllers/mainctrl.min.js")" type="text/javascript" charset="utf-8"></script>

        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/instruments-ctrl.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/instruments-service.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/instruments-ctrl.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/imports-service.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/imports-ctrl.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/protocols/protocols-service.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/protocols/details-protocol-ctrl.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/protocols/protocols-ctrl.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/experiments-service.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/experiments-ctrl.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/mapping-projects/mapping-projects-service.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/mapping-projects/mapping-projects-ctrl.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/processes-service.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("ngl-sq/javascripts/descriptions/processes-ctrl.min.js")" type="text/javascript" charset="utf-8"></script>
    }

    <script src="@controllers.descriptions.tpl.routes.Descriptions.javascriptRoutes" type="text/javascript" charset="utf-8"></script>
}

@css() = {
    <link rel="preload" href="@routes.Assets.at("ngl-sq/css/commons/commons.css")" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="@routes.Assets.at("ngl-sq/css/commons/commons.css")"></noscript> 
}

@views.html.main("descriptions.title", menu_("descriptions."+code), scripts,css)(views.html.contents.lefttabs())
