@()
<div class="row">
 <div class="col-md-6 col-lg-6">
 	<table class="table table-condensed table-hover table-bordered text-center">
 		<thead>
			<tr>
 				<th>@Messages("treatments.assignation.assignationBilan.cluster")</th>
				<th>@Messages("treatments.assignation.assignationBilan.otu")</th>
				<th>@Messages("treatments.assignation.assignationBilan.abundance")</th>
				<th>@Messages("treatments.assignation.assignationBilan.abundanceClusterPercent")</th>
				<th>@Messages("treatments.assignation.assignationBilan.taxonomy")</th>
				<th>@Messages("treatments.assignation.assignationBilan.idPercent")</th>
				<th>@Messages("treatments.assignation.assignationBilan.matchLength")</th>
			</tr>
 		</thead>
 		<tbody>
 			<tr ng-repeat="value in readset.treatments[treatments.getTreatment().code].read1.assignationBilan.value | orderBy:sorterFunc">
 				<td>{{value.cluster}}</td>
 				<td>{{value.otu}}</td>
 				<td>{{value.abundance | number}}</td>
 				<td>{{value.abundanceClusterPercent | number:2}}</td>
 				<td>{{value.taxonomy}}</td>
 				<td>{{value.idPercent | number:2}}</td>
 				<td>{{value.matchLength | number:2}}</td>
 			</tr>
 		</tbody>
	 </table>
 </div>
 
 
</div>

