@()
<div class="row">
	<div class="col-md-2 col-lg-2 col-xs-4">
		<div id="panel_gender" class="panel panel-default text-center" ng-if="readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.gender != null">
			<div class="panel-heading">
				<strong>@Messages("readsets.treatments.gender.gender") </strong>
			</div>
			<div class="panel-body">
				{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.gender.value}}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-lg-10 col-xs-12">
		<table class="table table-condensed table-hover table-bordered">
	 		<thead>
				<tr>
					<th></th>
					<th colspan="3" class="text-center">@Messages("readsets.treatments.gender.properlyPaired")</th>
					<th colspan="3" class="text-center">@Messages("readsets.treatments.gender.notProperlyPaired")</th>
				</tr>
				<tr>
					<th>@Messages("readsets.treatments.gender.unaligned")</th>
					<th>@Messages("readsets.treatments.gender.mq0")</th>
					<th>@Messages("readsets.treatments.gender.mq159")</th>
					<th>@Messages("readsets.treatments.gender.mq60")</th>
					<th>@Messages("readsets.treatments.gender.mq0")</th>
					<th>@Messages("readsets.treatments.gender.mq159")</th>
					<th>@Messages("readsets.treatments.gender.mq60")</th>
	 			</tr>
	 		</thead>
	 		<tbody>
	 			<tr>
	 				<td>{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.unaligned.value | number:2}}</td>
	 				<td>{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.mq0PP.value | number:2}}</td>
	 				<td>{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.mq159PP.value | number:2}}</td>
	 				<td>{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.mq60PP.value | number:2}}</td>
	 				<td>{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.mq0NPP.value | number:2}}</td>
	 				<td>{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.mq159NPP.value | number:2}}</td>
	 				<td>{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.mq60NPP.value | number:2}}</td>
				</tr>
	 		</tbody>
	 	</table>
	</div>
</div>
