@()

<div class="row">
 <div  class="col-md-11 col-lg-11 col-xs-12">
	 <table class="table table-condensed table-hover table-bordered">
	   <thead>
		<tr>
			<th>@Messages("readsets.treatments.merging.sampleInput")</th>
			<th>@Messages("readsets.treatments.merging.mergedReads")</th>
			<th>@Messages("readsets.treatments.merging.medianeSize")</th>
			<th>@Messages("readsets.treatments.merging.avgSize")</th>
			<th>@Messages("readsets.treatments.merging.minSize")</th>
			<th>@Messages("readsets.treatments.merging.maxSize")</th>			
		</tr>
	   </thead>
	   <tbody>
		<tr>
			<td>{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.sampleInput.value | number}}</td>
			<td ng-class="highLight('treatments.' + treatments.getTreatment().code + '.pairs.mergedReadsPercent.value')">
				{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.mergedReads.value | number}} 
				({{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.mergedReadsPercent.value | number:2}} @Messages("unit.percent"))
			</td>
			<td>{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.medianeSize.value | number}}</td>
			<td>{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.avgSize.value | number}}</td>
			<td>{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.minSize.value | number}}</td>
			<td>{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.maxSize.value | number}}</td>							
		 </tr>
		</tbody>		
	</table>			
 </div>
</div>

<div class="row">
    <div class="col-md-4 col-lg-4">
	    <div class="thumbnail" data-target="#myImageModal" role="button" data-toggle="modal" 
	    ng-click="setImage(readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.overlapDistrib.value,'overlapDistrib','',treament.code!=undefined?treament.code:treatments.getTreatment().code,
	    readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.overlapDistrib.width,
	    readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.overlapDistrib.height)">
		 <a href="#">
		    <img id="pairs_overlapDistrib" ng-src="data:image/png;base64,{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].pairs.overlapDistrib.value}}" />
		    <p>@Messages("readsets.treatments.merging.overlapDistrib")</p>
		 </a>   
	    </div>
    </div>
</div>
