@()
<div class="row">
	<div class="col-md-10 col-lg-10 col-xs-12">
		<table class="table table-condensed table-hover table-bordered">
	 		<thead>
				<tr>
					<th>@Messages("readsets.treatments.ngsrg_mgi.nbReads")</th>
					<th>@Messages("readsets.treatments.ngsrg_mgi.percentage")</th>
					<th>@Messages("readsets.treatments.ngsrg_mgi.nbBases")</th>
					<th>@Messages("readsets.treatments.ngsrg_mgi.validSeqPercent")</th>
	 			</tr>
	 		</thead>
	 		<tbody>
	 			<tr>
					<td ng-bind="readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].default.nbReads.value | number"></td>
					<td ng-bind="readset.sampleOnContainer.percentage | number:2"></td>
					<td ng-bind="readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].default.nbBases.value | number"></td>
					<td ng-bind="readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].default.validSeqPercent.value | number:2"></td>
				</tr>
	 		</tbody>
	 	</table>
	</div>
</div>

<div class="row" ng-if="readset.treatments.primaryDemultiplexing!=null"> 
	<div class="col-md-10 col-lg-10 col-xs-12">
	<div class="panel  panel-info">
	<div class="panel-heading"><strong>@Messages("readsets.treatments.primaryDemultiplexing")</strong></div>	
	<table class="table table-condensed table-hover table-bordered">
	 		<thead>
				<tr>
					<th>@Messages("readsets.treatments.ngsrg_primary.validSeqPercent")</th>
					<th>@Messages("readsets.treatments.ngsrg_primary.nbCluster")</th>
					<th>@Messages("readsets.treatments.ngsrg_primary.Q30")</th>
					<th>@Messages("readsets.treatments.ngsrg_primary.qualityScore")</th>
					<th>@Messages("readsets.treatments.ngsrg_primary.seqLossPctbetweenImaryAnd2ndaryDmplxing")</th>
	 			</tr>
	 		</thead>
	 		<tbody>
	 			<tr>
					<td ng-class="highLight('treatments.primaryDemultiplexing.default.validSeqPercent.value')" 
						ng-bind="readset.treatments.primaryDemultiplexing.default.validSeqPercent.value|number:2"></td>
					<td ng-bind="readset.treatments.primaryDemultiplexing.default.nbCluster.value|number"></td>
					<td ng-class="highLight('treatments.primaryDemultiplexing.default.Q30.value')" 
						ng-bind="readset.treatments.primaryDemultiplexing.default.Q30.value|number"></td>
					<td ng-class="highLight('treatments.primaryDemultiplexing.default.qualityScore.value')"
						ng-bind="readset.treatments.primaryDemultiplexing.default.qualityScore.value|number"></td>
					<td ng-class="highLight('treatments.primaryDemultiplexing.default.seqLossPctbetweenImaryAnd2ndaryDmplxing.value')"
					ng-bind="readset.treatments.primaryDemultiplexing.default.seqLossPctbetweenImaryAnd2ndaryDmplxing.value|number:2"></td>
				</tr>
	 		</tbody>
	 	</table>
	 	</div>
	</div>	
</div>