@()
@** deplacé depuis menu.scala.html **@

	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_Workflows.pdf")" 							 target="_blank">@Messages("docs.workflows")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_Cas_erreurs_auto-corrigeables_CNS.pdf")" 							 target="_blank">@Messages("docs.errors.autocorrect")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/Changer_la_propriete_prod-dev_d_un_readset_via_son_processus.pdf")" target="_blank">@Messages("docs.readset.change-property")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_Illumina.pdf")" 							 target="_blank">@Messages("docs.illumina")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_Schema_Processus_Extraction_ADN-ARN.pdf")"	 target="_blank">@Messages("docs.sample_prep")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_Schema_processus_Extraction_ARN_17-200_et_sup200.pdf")"	 target="_blank">@Messages("docs.processes.extr.arn")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_Schema_Processus_MetaBarcoding.pdf")"		 target="_blank">@Messages("docs.bank.metabarcoding")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NESTED-Schema processus_MetaB double PCR (NESTED).pdf")"	 target="_blank">@Messages("docs.processes.metabarcoding")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_Schema_Processus_MetaTranscriptomique.pdf")" target="_blank">@Messages("docs.bank.metatranscriptomique")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_Schema_Processus_MetaGenomique.pdf")"		 target="_blank">@Messages("docs.bank.metabargenomique")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_Declarations Hi-C.pdf")"					 target="_blank">@Messages("docs.processes.hic")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_Nanopore.pdf")"								 target="_blank">@Messages("docs.nanopore")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/Processus_Nanopore_schemas_resume.pdf")"			 target="_blank">@Messages("docs.processes.nanopore")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_Schema_processus_PACBIO.pdf")"				 target="_blank">@Messages("docs.processes.pacbio")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_MGI.pdf")"            						 target="_blank">@Messages("docs.processes.mgi")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_Opgen.pdf")"								 target="_blank">@Messages("docs.opticalmapping.opgen")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/NGL-SQ_Bionano.pdf")"								 target="_blank">@Messages("docs.opticalmapping.bionano")</a></li>
	<li><a href="@routes.Assets.at("ngl-sq/documentation/cns/Schemas_Processus_existants_nov17.pdf")"            target="_blank">@Messages("docs.processes.schema")</a></li>
	
	
	
	
	
	
	
	