/bin/
**/application.conf
**/target
**/.classpath
**/.project
**/.settings
**/bin
**/logs
**/project/project
**/.tern*
/target/
/project/project
/.settings
.classpath
.project
**/.cache*
/logs/
**/app-2.12
**/test-2.12
/ejacoby@appdev.genoscope.cns.fr
ngl.logs*/*
/authentication
/ngl.logs.dir_IS_UNDEFINED/
/playSpringModule
/mongoDBPlugin
/app-ngl-sub-auto/$\{env.M2_REPO\}/
app-ngl-plaques/ngl.logs.dir_IS_UNDEFINED/
/dependency-authentication/
/dependency-mongoplugin/
/dependency-springplugin/
/.metadata/
.vscode/
*.xls

#specific Github#
Dockerfile
.gitlab-ci.yml
/lib-ngl-data/app/services
