/bin/
**/application.conf
**/target
**/.classpath
**/.project
**/.settings
**/bin
**/logs
**/project/project
**/.tern*
/target/
/project/project
/.settings
.classpath
.project
**/.cache*
/logs/
/ejacoby@appdev.genoscope.cns.fr
authentication/
