@(otherCss: Html = Html(""))
<link rel="stylesheet" href="@helper.getAsset("css","bootstrap","3.3.5","bootstrap_3.3.5.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("lib/lib-frameworkweb/font-awesome/4.2.0/css/font-awesome_4.2.0.min.css")">           
<link rel="stylesheet" href="@routes.Assets.at("lib/ngl-common/ngl-common/css/ngl.css")">
<link rel="stylesheet" href="@routes.Assets.at("lib/ngl-common/ngl-common/css/print.css")" media="print">
<link rel="stylesheet" href="@routes.Assets.at("lib/datatable/datatable/css/datatable.css")">
@otherCss