@(read: String)

@camelCase(text: String) = @{
  text.replace('r','R')
}

<div class="row"> 
	<div class="col-md-8 col-lg-8">
		<div class="thumbnail" data-target="#myImageModal" role="button" data-toggle="modal" 
		ng-click='setImage(@("readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code]."+read+".errorPosition.value"),"readPosition","@camelCase(read)",treament.code!=undefined?treament.code:treatments.getTreatment().code,
		@("readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code]."+read+".errorPosition.width"),
		@("readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code]."+read+".errorPosition.height"))'>
		 <a href="#">
		    <img id='@(read+"_errorPosition")' ng-src='@("data:image/png;base64,{{readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code]."+read+".errorPosition.value}}")' />
		 </a>   
	    </div>
	</div>
</div>
