@(read: String)
@import views.html.helper._
	<div class="row">	
	
	<div class="col-md-5 col-lg-5">	
		<div class="panel panel-default">
		  <div class="panel-heading"><strong>@Messages("readsets.treatments.taxonomy.taxonBilan")</strong></div>	
		
		<div class="form-group">
		<label for="inputFilter">@Messages("filterTaxonBilan") </label>
			<input type="text" ng-model="filterTaxonBilan" placeholder='@Messages("filterTaxonBilan")' title='@Messages("filterTaxonBilan")' ng-value="filterTaxonBilan" ng-change="setFilterTaxonBilan(filterTaxonBilan)" id="inputFilter">
		</div>
		  <div class="treatmentOverflow">
		 	<table class="table table-condensed table-hover table-bordered">
			<thead>							
			<tr>
				<th>
					@Messages("readsets.treatments.sorting_ribo.taxon")
				</th>
				<th>
					@Messages("readsets.treatments.sorting_ribo.nbSeq")
				</th>
				<th>
					@Messages("readsets.treatments.sorting_ribo.Percent")
				</th>
				<th>
					@Messages("readsets.treatments.sorting_ribo.PercentAssigned")
				</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat='@("obj in readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code]."+read+".taxonBilan.value")|orderBy:"nbSeq":true' ng-if="obj.percent>filterTaxonBilan">
				<td>									
					 <a href="{{ncbiUrl + obj.taxon.replace(' ','+') }}" target="_blank">{{obj.taxon}}</a>									
				</td>
				<td>
					 {{obj.nbSeq | number}}													
				</td>
				<td ng-class="highLight('treatments.' + treatments.getTreatment().code + '.@read'+'.taxonBilan.value|filter:\''+obj.taxon+'\'|sum:\'percent\'')">
					{{ obj.percent | number:2}} @Messages("unit.percent")												
				</td>
				<td ng-class="highLight('treatments.' + treatments.getTreatment().code + '.@read'+'.taxonBilan.value|filter:\''+obj.taxon+'\'|sum:\'percentAssigned\'')">
					{{ obj.percentAssigned | number:2}} @Messages("unit.percent")												
				</td>
			</tr>
			</tbody>				
		</table>
		</div>
		</div>														
	</div>
	</div>
	<div class="row">	
	<div class="class="col-md-12 col-lg-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><strong>@Messages("readsets.treatments.sortingRibo.tabs.krona")</strong></div>	
		 <iframe id='@(read+".krona")' class="col-md-12 col-lg-12" ng-bind-src="'data:text/html;base64,'+readset.treatments[treament.code!=undefined?treament.code:treatments.getTreatment().code].@(read).krona.value" style="border:0;height:1500px"></iframe>
		</div>
	</div>
	</div>
