@this(menu_ : menu)
@(code: String)

@scripts() = {
		<script src="@routes.Assets.at("ngl-bi/javascripts/archives/app.js")" type="text/javascript" charset="utf-8"></script> 
        <script src="@routes.Assets.at("lib/lib-frameworkweb/ngl-common/javascripts/controllers/tabmainctrl.js")" type="text/javascript" charset="utf-8"></script>
   		<script src="@routes.Assets.at("lib/lib-frameworkweb/ngl-common/javascripts/controllers/commons.js")" type="text/javascript" charset="utf-8"></script>                            
        <script src="@routes.Assets.at("lib/datatable/datatable/javascripts/services/ultimate-datatable.js")" type="text/javascript" charset="utf-8"></script>          
        <script src="@routes.Assets.at("ngl-bi/javascripts/archives/controllers.js")" type="text/javascript" charset="utf-8"></script>                      
        <script src="@controllers.archives.tpl.routes.ReadSets.javascriptRoutes" type="text/javascript" charset="utf-8"></script>     
        <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/basket.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/list-resize.js")" type="text/javascript" charset="utf-8"></script>             
}

@views.html.main("archives.page.title", menu_("archives" + code), scripts)(views.html.contents.lefttabs())
