@this()
@()


	 
<div class="row" ng-init="init()"> 
<div class="col-md-12 col-lg-12" ultimate-datatable="datatable">
<div udt-form>
	<form class="well well-small">
		<label class="radio-inline">
    	<input type="radio" ng-model="archive" value="0" ng-change="search(0)"> @Messages("archives.input_radio.0")    	
	    </label>
	    <label class="radio-inline">
	    	<input type="radio" ng-model="archive" value="1" ng-change="search(1)"> @Messages("archives.input_radio.1")
	    </label>
	    <label class="radio-inline">
	   	 <input type="radio" ng-model="archive" value="2" ng-change="search(2)"> @Messages("archives.input_radio.2")
	    </label>				
	</form>	
	</div>
</div>
</div>