@this()
@()
@import views.html.helper._
<!--  
<h1>TEST</h1>
-->
@formConsultation() = {

	@columnSearchForm{
		@formGroup{
			<div class="form-control" bt-select  ng-model="form.projCodes" filter="true" multiple="true" placeholder='@Messages("consultation.placeholder.projectCodes")' bt-options="project.code as project|formatProjectListLabel for project in lists.getProjects()"></div>	
		}													
	}	
	@columnSearchForm{
		@formGroup{
			<input type="text" class="form-control" ng-model="form.studyIdentifier" placeholder='@Messages("consultation.placeholder.studyIdentifier")' >	
		}	
	}

	@columnSearchForm{
		@formGroup{
			<input type="text" class="form-control" ng-model="form.sampleIdentifier" placeholder='@Messages("consultation.placeholder.sampleIdentifier")' >	
		}	
	}	
	
	@columnSearchForm{
	
	}
	@columnSearchForm{
	
	}
	
	
	@columnSearchForm{
		@formGroup{
			<div class="tab-pane active" id="filters">
				<form class="well well-small">
				<div class="row">
					<div class="btn-toolbar">
						<button type="submit" title='@Messages("button.search")' data-toggle="tooltip" ng-click="search()" class="btn btn-primary" >
							<i class="fa fa-search"></i>
						</button>	
						<button title='@Messages("button.reset")' data-toggle="tooltip" ng-click="reset()"  class="btn btn-default">
							<i class="fa fa-undo"></i>
						</button>				 	
					</div>		
				</div>		
			</form>	
		</div>
	
		}													
	}	

}
<!--
<div class="row">
<div class="col-md-12 col-lg-12"  messages="messages"></div>
</div>
	
<div class="row">
 @formConsultation   appel de la methode formConsultation defini plus haut.
</div>

<div class="row">
<div class="col-md-12 col-lg-12"  messages="messages"></div>
</div>
-->
<div class="row">
<div class="col-md-12 col-lg-12"  messages="messages"></div>
</div>

<!--Pour affichage d'un spinner-->
<div class="inProgressSpinner" ng-if="treeLoadInProgress">
<button class="btn btn-primary btn-lg">
<i class="fa fa-spinner fa-spin fa-5x"></i>
</button>
</div>


<div class="row"> 
	<div class="col-md-12 col-lg-12" ultimate-datatable="bilansDT">
		<div dt-form>	
			<div class="tab-content">
				<div class="tab-pane active" id="filters">
					<form name="bilanForm" class="well well-small">
						<div class="row">
							@formConsultation  <!--  appel de la methode formConsultation defini plus haut.-->
						</div>		
					</form>	
				</div>
			</div>
		</div>
	</div>
</div> 

															
	




