@(isForm: Boolean)

@import views.html.helper._
@form() = {	
	@columnSearchForm{
			@formGroup{
				<div class="form-control" bt-select ng-model="searchService.form.projectCodes" multiple="true" textarea="true" filter="true" placeholder='@Messages("search.placeholder.projects")' bt-options="project.code as project|formatProjectListLabel for project in searchService.lists.getProjects()"></div>				
			}
	}		
			
	@columnSearchForm{		
			@formGroup{
				<div  class="form-control" bt-select ng-model="searchService.form.stateCodes" multiple="true" placeholder="@Messages("search.placeholder.states")" bt-options="state.code as state.name for state in searchService.states()" ></div>							
			}
	}
		
	@columnSearchForm{	
		@formGroup{
				<div class="form-control" bt-select ng-model="searchService.form.isFgGroup" filter="true" placeholder='@Messages("search.placeholder.fgGroup")' 
			bt-options="fgGroupValue.code as fgGroupValue.name for fgGroupValue in searchService.lists.get('booleans')"></div>			
			}
	}
	
	@columnSearchForm{	
		@formGroup{
				<div class="form-control" bt-select ng-model="searchService.form.fgGroups"  multiple="true" filter="true" placeholder='@Messages("search.placeholder.codeFgGroup")' bt-options="bioinfoParam.fgGroup as bioinfoParam.fgGroup for bioinfoParam in searchService.lists.getBioinformaticParameters() | unique:'fgGroup' | orderBy:'fgGroup'"></div>				
			}
	}	
	<!--TODO EJACOBY AD-->
	@columnSearchForm{	
		@formGroup{
				<div class="form-control" bt-select ng-model="searchService.form.unixGroups"  multiple="true" filter="true" placeholder='@Messages("search.placeholder.unixGroup")' bt-options='v.code as v.code for v in searchService.lists.getValues({},"values")'></div>				
			}
	}
	
}

@if(isForm) {

<div class="row"> 
	<div class="col-md-12 col-lg-12" ultimate-datatable="searchService.datatable">
		<div udt-form>	
			<div class="tab-content">
				<div class="tab-pane active" id="filters">
					<form class="well well-small">
						<div class="row">
						@form
						@columnSearchForm{
							@formGroup{
							<div class="btn-toolbar">
								<button type="submit" title='@Messages("button.search")' data-toggle="tooltip" ng-click="search()" class="btn btn-primary" >
									<i class="fa fa-search"></i>
								</button>
								<button title='@Messages("button.reset")' data-toggle="tooltip" ng-click="reset()"  class="btn btn-default">
									<i class="fa fa-undo"></i>
								</button>
															 	
							</div>	
							}	
						}
						</div>		
					</form>	
				</div>
			</div>
		</div>
	</div>
</div> 
}
@if(!isForm) {
	@searchForm()()("searchService.datatable")
}