@this(menu_ : menu)
@(code: String)

@scripts() = {
	 <script src="@controllers.stats.tpl.routes.Stats.javascriptRoutes" type="text/javascript" charset="utf-8"></script>
     <script src="@controllers.main.tpl.routes.Main.jsCodes" type="text/javascript" charset="utf-8"></script> 
	 <script src="@routes.Assets.at("lib/datatable/datatable/javascripts/services/ultimate-datatable.js")" type="text/javascript" charset="utf-8"></script>                           
     <script src="@routes.Assets.at("ngl-bi/javascripts/stats/app.js")" type="text/javascript" charset="utf-8"></script> 
     <script src="@routes.Assets.at("ngl-bi/javascripts/stats/readsets-ctrl.js")" type="text/javascript" charset="utf-8"></script>
      <script src="@routes.Assets.at("ngl-bi/javascripts/stats/lanes-ctrl.js")" type="text/javascript" charset="utf-8"></script>
     <script src="@routes.Assets.at("ngl-bi/javascripts/readsets/services.js")" type="text/javascript" charset="utf-8"></script>    
     <script src="@routes.Assets.at("ngl-bi/javascripts/runs/services.js")" type="text/javascript" charset="utf-8"></script>           
     <script src="@routes.Assets.at("ngl-bi/javascripts/stats/readsets-services.js")" type="text/javascript" charset="utf-8"></script> 
     <script src="@routes.Assets.at("ngl-bi/javascripts/stats/lanes-services.js")" type="text/javascript" charset="utf-8"></script>        
      <script src="@routes.Assets.at("ngl-bi/javascripts/commons/commons.js")" type="text/javascript" charset="utf-8"></script>
     <script src="@routes.Assets.at("lib/lib-frameworkweb/ngl-common/javascripts/controllers/mainctrl.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/commons.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/bt-input.js")" type="text/javascript" charset="utf-8"></script>  
	 <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/basket.js")" type="text/javascript" charset="utf-8"></script> 
	 <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/valuation.js")" type="text/javascript" charset="utf-8"></script>               
     <script src="@helper.getAsset("javascripts","simple-statistics","140513","simple_statistics.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@helper.getAsset("javascripts","highcharts","4.1.4","highcharts_4.1.4.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@helper.getAsset("javascripts","highcharts","4.1.4","exporting_4.1.4.js")" type="text/javascript" charset="utf-8"></script>	
	 <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/list-resize.js")" type="text/javascript" charset="utf-8"></script> 	
	 	

}

@views.html.main("stats.page.title", menu_("stats."+code), scripts)(views.html.contents.lefttabs())

