@this()

@import views.html.helper._

<div class="row"> 
<div class="col-md-12 col-lg-12" >
<form class="well well-small">
		<div class="row">
		@columnSearchForm{
			@formGroup{
					<div  class="form-control" bt-select ng-model="chartsLanesService.treatmentType" placeholder="@Messages("search.placeholder.treatment")" bt-options="trt.code as trt.name for trt in chartsLanesService.lists.getTreatmentTypes()" ng-change="chartsLanesService.refreshProperty()"></div>	
					<div  class="form-control" bt-select ng-model="chartsLanesService.property" placeholder="@Messages("search.placeholder.property")" bt-options="prop.code as prop.name for prop in chartsLanesService.properties" ng-change="chartsLanesService.selectProperty()"></div>	
			}
		}	
		
		</div>
	</form>	
</div>
</div>

<div class="row">
<div ng-switch on="chartsLanesService.isData()">	
		<div ng-switch-when="true">
			<div class="row">
			<ul class="nav nav-tabs margin-bottom-5">
			<li class="active"><a href="#" data-target="#chartData" data-toggle="tab">@Messages("stats.tabs.charts")</a></li>
			<li ng-if="chartsLanesService.getExcludeData().length > 0"><a href="#" data-target="#exclude" data-toggle="tab">@Messages("stats.tabs.exclude")</a></li>
			</ul>
			
			
			
			<div class="tab-content">
				<div class="tab-pane active" id="chartData">
				<div class="row">
					<div class="col-md-12 col-lg-12" ultimate-datatable="chartsLanesService.datatable()"></div>
				</div>
				</div>
				<div class="tab-pane" id="exclude">
					<div class="row">
					<div class="col-md-4 col-lg-4">
					<div class="panel panel-danger">
					  <div class="panel-body">
					  	<ul>
					  		<li ng-repeat="d in chartsLanesService.getExcludeData()|orderBy:'code'">{{d.code}}</li>	
					  	</ul>
					    
					  </div>
					  </div>
					</div>
					</div>
				</div>
			</div>
				
			</div>
			<div class="row">
				<ul class="nav nav-tabs margin-bottom-5">
				<li class="active"><a href="#" data-target="#chart" data-toggle="tab">@Messages("stats.tabs.mean.charts")</a></li>
				<li><a href="#" data-target="#chartLane" data-toggle="tab">@Messages("stats.tabs.lanes.charts")</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="chart">
						<chart class="col-ld-10 col-md-10" value="chartsLanesService.chartMean()"></chart>
					</div>
					<div class="tab-pane" id="chartLane">
						<div ng-repeat="chart in chartsLanesService.charts()">
							<chart class="col-ld-10 col-md-10" value="chart"></chart>
		   				</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-switch-when="false">
		<div class="row">
			<div class="col-md-3 col-lg-3">
				<div class="alert alert-danger">
					<strong>@Messages("error.run.empty")</strong>
				</div>
			</div>
		</div>
		</div>
</div>
</div>

