@(code : String)

@import models.laboratory.common.description.ObjectType

@scripts() = {
    <script src="@controllers.main.tpl.routes.Main.jsCodes" type="text/javascript" charset="utf-8"></script>
   	<script src="@controllers.main.tpl.routes.Main.jsPermissions" type="text/javascript" charset="utf-8"></script>
   	<script src="@routes.Assets.at("ngl-sq/javascripts/services/dragndrop.js")" type="text/javascript" charset="utf-8"></script> 
	<script src="@routes.Assets.at("datatable/javascripts/services/ultimate-datatable.js")" type="text/javascript" charset="utf-8"></script>     
	<script src="@routes.Assets.at("ngl-common/javascripts/services/basket.js")" type="text/javascript" charset="utf-8"></script>  
	<script src="@routes.Assets.at("ngl-sq/javascripts/processes/app.js")" type="text/javascript" charset="utf-8"></script>  
	<script src="@routes.Assets.at("ngl-common/javascripts/services/commons.js")" type="text/javascript" charset="utf-8"></script>
	<script src="@routes.Assets.at("ngl-common/javascripts/services/bt-input.js")" type="text/javascript" charset="utf-8"></script> 	
	<script src="@routes.Assets.at("ngl-common/javascripts/services/list-resize.js")" type="text/javascript" charset="utf-8"></script> 
	 	<script src="@routes.Assets.at("ngl-common/javascripts/controllers/mainctrl.js")" type="text/javascript" charset="utf-8"></script> 
	 	<script src="@routes.Assets.at("ngl-sq/javascripts/processes/services.js")" type="text/javascript" charset="utf-8"></script>  	
	<script src="@routes.Assets.at("ngl-sq/javascripts/processes/controllers.js")" type="text/javascript" charset="utf-8"></script>
	<script src="@routes.Assets.at("ngl-sq/javascripts/processes/search-ctrl.js")" type="text/javascript" charset="utf-8"></script>    
	<!-- GET -->	
	<script src="@routes.Assets.at("ngl-sq/javascripts/processes/get/controllers.js")" type="text/javascript" charset="utf-8"></script>   
    
	<script src="@controllers.processes.tpl.routes.Processes.javascriptRoutes" type="text/javascript" charset="utf-8"></script>   
}

@css() = {
<link rel="stylesheet" href="@routes.Assets.at("ngl-sq/css/commons/commons.css")">
<link rel="stylesheet" href="@routes.Assets.at("ngl-sq/css/processes/create-processes.css")">
}

@views.html.main("processes.title", menu("processes."+code), scripts, css)(views.html.contents.lefttabs())