@this()
@()
@import views.html.helper._
@form() = {
	@columnSearchForm{
		@formGroup{
			<select class="form-control" ng-model="form.etmanips.selected" ng-options="etmanip.name for etmanip in form.etmanips.options" id="etmanip" ng-change="search()">
				<option value="">@Messages("plates.select.etapemanips")</option>
				</select>
		}
		@formGroup{
			<input type="text" class="form-control" ng-model="form.fromDate" placeholder='@Messages("search.placeholder.fromDate")'>
		}	
		
		
	}
	@columnSearchForm{
		@formGroup{		
			<select class="form-control" ng-model="form.projects.selected" id="project" ng-options="project.name for project in form.projects.options" ng-change="search()">
				<option value="">@Messages("plates.select.project")</option>
				</select>
		}
		@formGroup{
			<input type="text" class="form-control" ng-model="form.toDate" placeholder='@Messages("search.placeholder.toDate")'>
		}
	}
	
	@columnSearchForm{
		@formGroup{		
			<input type="text" class="form-control" ng-model="form.plaqueId" placeholder='@Messages("search.placeholder.regexPlaqueId")' title='@Messages("search.placeholder.regexPlaqueId")'>
		
		}
	}
	
	@columnSearchForm{
		@formGroup{		
			<input type="text" class="form-control" ng-model="form.matmanom" placeholder='@Messages("search.placeholder.regexMatmanom")' title='@Messages("search.placeholder.regexMatmanom")'>
		
		}
	}
	
	@columnSearchForm{
		@formGroup{		
			<select class="form-control" ng-model="form.users.selected" id="user" ng-options="user.name for user in form.users.options" ng-change="search()">
				<option value="">@Messages("plates.select.create.user")</option>
			</select>
		}
	}
}
<div class="row" ng-init="init()"> 
<div class="col-md-12 col-lg-12" ultimate-datatable="datatable">

	
	<div udt-form>
	<form class="well well-small">
		<div class="row">
		@form
		@columnSearchForm{
			@formGroup{
			<div class="btn-toolbar">
				<button type="submit" title='@Messages("button.search")' data-toggle="tooltip" ng-click="search()" class="btn btn-primary" >
					<i class="fa fa-search"></i>
				</button>
				<button title='@Messages("button.reset")' data-toggle="tooltip" ng-click="reset()"  class="btn btn-default">
					<i class="fa fa-undo"></i>
				</button>
											 	
			</div>	
			}	
			
		}
		</div>
	</form>	
	</div>

</div>
</div>
