@()
<br/>
<div class="row">
	<div class="col-md-10 col-lg-10 col-xs-12">
		<table class="table table-condensed table-hover table-bordered">
	 		<tbody>
				<tr>
					<th>@Messages("runs.treatments.ngsrg_pacbio.nbReads")</th>
				 <td>{{run.treatments[treatments.getTreatment().code].default.nbReads.value|number}} ({{ run.treatments[treatments.getTreatment().code].default.percentHifiReads.value|number }}%)</td>
			 </tr>
			 <tr>
					<th>@Messages("runs.treatments.ngsrg_pacbio.nbBases")</th>
				 <td>{{run.treatments[treatments.getTreatment().code].default.nbBases.value|number}} ({{run.treatments[treatments.getTreatment().code].default.percentHifiBases.value|number}}%)</td>
			 </tr>
	 		</tbody>
	 	</table>
	</div>
</div>