.visible-print {
  display: none !important;
}

@media print {
	.visible-print {
	  display: inherit !important;
	}
	.hidden-print {
	  display: none !important;
	}
  
	.accordion-group .accordion-body.collapse {
	      height: auto;
	}
	
	body {
		padding-top:0px;
	}
	
	img {
		float: none !important;
	}
	
	.page-break {page-break-before: always;}  
  	
  	a[href] {
    	color: blue !important;
  	}	
 	
  	#pairs_overlapDistrib {
  		max-width: 70% !important;
  	}
  	
  	#read1_adapterContamination, #read2_adapterContamination,
  	#read1_nuclDistribution, #read1_readSizeDistribution, #read1_readWithNpercent, #read1_positionN,
  	#read2_nuclDistribution, #read2_readSizeDistribution, #read2_readWithNpercent, #read2_positionN,
  	#read1_GCDistribution, #read2_GCDistribution, #pairs_overlapDistrib,
  	#pairs_PEReadDistanceSeparation, #pairs_MPReadDistanceSeparation {
  		max-width: 50% !important;
  	}
  	
  	.table {
  		font-size: 10px;
  	}
  	
  	.table-small-cell {
  		font-size: 8px;
  	}

  	.vertical-center {
  		vertical-align:middle;
  	} 
  	
  	.no-border {
  		border-top: 0px; 
  	}
  	
  	.no-border th {
  		width:20%;
  		padding: 10px;	
  	}
  	
  	#panel_PEMPSize {
  		font-size: 10px;
  	}
  	.break {
  		page-break-before: always;
  	}
}




    
    

