/*custom bootrap for creating processes*/

/* MAIN */

/*SUPPORT AND CONTAINER TABLE*/

.SelectContainerProcess .datatable .btn-toolbar>.btn-group>.btn:last-child:not(:first-child)[ng-click="swithView()"]{
	margin-left: 5px;
	width: 180px;	
	background: #FFF;
	color: #333;
	font-weight: lighter;	
}

.SelectContainerProcess .datatable .btn-toolbar>.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle)[ng-click="save()"]{
	border-radius: 4px;
}

.switchLabel{
	font-weight: lighter;
}
