@this()
@()

<div class="row">
	<div class="col-md-12 col-lg-12">
		<div ng-switch on="isLoading()">
			<div ng-switch-when="true">
				<div class="row">
					<div class="col-md-12 col-lg-12 text-center">
					<div class="inProgressSpinner"><button class="spinnerBtn btn btn-primary btn-lg"><i class="fa fa-spinner fa-spin fa-5x"></i></button></div>
					</div>
				</div>
			</div>
			<div ng-switch-when="false">
				<div class="row">
					<div class="col-md-12 col-lg-12" ultimate-datatable="dtYearlyBalanceSheets"></div>
				</div>
				<div class="row">
					<div class="col-md-12 col-lg-12" ultimate-datatable="dtSumYearlyBalanceSheets"></div>
				</div>
				<div class="row">
					<div class="col-ld-12 col-md-12">
						<chart value="chartYearlyBalanceSheets"></chart>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>