<h2 ng-init="init()">Demonstration</h2>
<!--<button class="btn" ng-click="refresh()">Actualiser</button>
<button  class="btn" ng-click="apply()">Appliquer</button> -->
<button  class="btn" ng-click="search()">Rechercher</button>
<br><br>



<!--<textarea style="FONT-SIZE: 12pt; margin: 0px 0px 9px; width: 570px; height: 527px;" ng-model= "config"> test </textarea>-->

<br><br>

<div datatable="datatable.getConfig()">
</div>

<br><br>

<div datatable="datatable2.getConfig()">
</div>

<br><br>


<br><br>
