@this()
@()
@import views.html.helper._

@formControls() = {
    
}

@formTypes() = {
    <form class="well well-small">
        <div class="row">
            @columnSearchForm{
                @formGroup{
                @** FDS il faut un message de type placeholder !!!**@
                <div bt-select placeholder='@Messages("descriptions.select.types.category")' class="form-control" multiple=true
                    ng-model="searchService.tabs.types.form.objectTypeCodes"
                    bt-options="objectType.code for objectType in searchService.tabs.types.objectTypes">
                </div>
                }
            }
            @columnSearchForm{
                @formGroup{
                <div class="btn-toolbar">
                    <button type="submit" title='@Messages("button.search")' data-toggle="tooltip" ng-click="searchService.searchTypes()" class="btn btn-primary" >
                        <i class="fa fa-search"></i>
                    </button>
                    <button title='@Messages("button.reset")' data-toggle="tooltip" ng-click="resetTypesForm()"  class="btn btn-default">
                        <i class="fa fa-undo"></i>
                    </button>
                                                    
                </div>	
                }
            }
        </div>
    </form>
}

@formProperties() = {
    <form class="well well-small">
        <div class="row">
            @columnSearchForm{
                @formGroup{
                <div bt-select placeholder='@Messages("descriptions.select.types.category")' class='form-control' multiple=true
                ng-model="searchService.tabs.properties.form.objectTypeCodes"
                bt-options="objectType.code for objectType in searchService.tabs.properties.objectTypes">
                </div>
                }
            }
            @columnSearchForm{
                @formGroup{
                <div class="btn-toolbar">
                    <button type="submit" title='@Messages("button.search")' data-toggle="tooltip" ng-click="searchService.searchProperties()" class="btn btn-primary" >
                        <i class="fa fa-search"></i>
                    </button>
                    <button title='@Messages("button.reset")' data-toggle="tooltip" ng-click="resetPropertiesForm()"  class="btn btn-default">
                        <i class="fa fa-undo"></i>
                    </button>
                                                    
                </div>	
                }
            }
        </div>
    </form>
}

<div class="row">
	<div class="col-md-12 col-lg-12"  messages="messages"></div>
</div>
<div class="row"> 

<div class="col-md-12 col-lg-12">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#" data-target="#types" data-toggle="tab" role="tab">@Messages("descriptions.types.tab.types")</a>
        </li>
        <li role="presentation">
            <a href="#" data-target="#properties" data-toggle="tab" role="tab">@Messages("descriptions.types.tab.properties")</a>
        </li>
        <li role="presentation">
            <a href="#" data-target="#propertiesContent" data-toggle="tab" role="tab">@Messages("descriptions.types.tab.properties.content")</a>
        </li>     
    </ul>	
    <div class="tab-content">
        <div class="tab-pane fade in active" id="types">
            @formTypes
            <div  ultimate-datatable="searchService.tabs.types.datatable">
                <div udt-form></div>
            </div>
        </div>
        <div class="tab-pane fade" id="properties">
            @formProperties
            <div ultimate-datatable="searchService.tabs.properties.datatable">
                <div udt-form></div>
            </div>
        </div>
        <div class="tab-pane fade" id="propertiesContent">
            <div ultimate-datatable="searchService.tabs.propertiesContent.datatable">
                <div udt-form></div>
            </div>
        </div>
      </div>
</div>