@this()
@()
@import views.html.helper._

@form() = {

	@columnSearchForm{
		@formGroup{
			<input type="text" class="form-control" ng-model="createService.form.title" placeholder='@Messages("create.placeholder.studiesTitle")' required>	
		}
		@formGroup{
			<div class="form-control" bt-select  ng-model="createService.form.projectCodes" filter="true" multiple="true" placeholder='@Messages("create.placeholder.projectCodes")' bt-options="project.code as project|formatProjectListLabel for project in createService.lists.getProjects()" required></div>			
		}
		@formGroup{
			<div class="form-control" bt-select ng-model="createService.form.existingStudyType" placeholder='@Messages("create.placeholder.existingStudyType")' bt-options="study.code as study.name for study in createService.sraVariables.existingStudyType" required></div>			
		}								
						
	}
	@columnSearchForm{
		@formGroup{
			<textarea rows="3" ng-model="createService.form.studyAbstract" placeholder='@Messages("create.placeholder.abstract")' required></textarea>		
		}
		@formGroup{
			<textarea rows="3" ng-model="createService.form.description" placeholder='@Messages("create.placeholder.description")' required></textarea>
		}
		
		
	}	
}

<div class="row">
<div class="col-md-12 col-lg-12"  messages="messages"></div>
</div>

<div class="row"> 
	<div class="col-md-12 col-lg-12">
		<div dt-form>	
			<div class="tab-content">
				<div class="tab-pane active" id="filters">
					<form name="studyForm" class="well well-small">
						<div class="row">
						@form
						@columnSearchForm{
							@formGroup{
							<div class="btn-toolbar">
								<button type="submit" title='@Messages("button.save")' ng-disabled="studyForm.$invalid" ng-click="save()" data-toggle="tooltip" class="btn btn-primary" >
									<i class="fa fa-save"></i>
								</button>
								<button title='@Messages("button.reset")' ng-click="reset()" data-toggle="tooltip"  class="btn btn-default">
									<i class="fa fa-undo"></i>
								</button>
															 	
							</div>	
							}	
							
						}
						</div>		
					</form>	
				</div>
			</div>
		</div>
	</div>
</div> 

