@(nav: String)

@scripts() = {
	 <script src="@routes.Assets.at("ngl-devguide/javascripts/modules/app.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("ngl-devguide/javascripts/directives/directives.js")" type="text/javascript" charset="utf-8"></script>
	 
}

@main("Modules", menu(nav), dvJavascripts(scripts()), dvCss()) {
<header>
 <div class="row-fluid">
    <div class="span11 offset1">
		<h1>Modules @nav</h1>
	</div>
</div>
</header>
<div class="row-fluid" ng-app="home">
<div class="span10 offset2">
<div ng-view></div>
</div>
</div>

}