@(nav: String)

@scripts() = {
	 <script src="@routes.Assets.at("ngl-devguide/javascripts/naming-rules/app.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("ngl-devguide/javascripts/directives/directives.js")" type="text/javascript" charset="utf-8"></script>	 
}

@main("Règles de Nommage", menu(nav), dvJavascripts(scripts()), dvCss()) {
<header>
 <div class="row-fluid">
    <div class="span11 offset1">
		<h1>Règles de Nommage</h1>
		<p class="lead">Ensemble des règles de nomenclure pour le développement d'une application web</p>
	</div>
</div>
</header>
<div class="row-fluid" ng-app="home">
<div class="span2 hidden-print" >
<div id="navbar" class="well well-small subnav affix-top"  data-spy="affix" data-offset-top="100">
	<ul class="nav nav-list">
	      <li><a href="/naming-rules/introduction"><i class="icon-chevron-right"></i>Introduction</a></li>
	      <li><a href="/naming-rules/controllers"><i class="icon-chevron-right"></i>Controllers</a></li>                        
	      <li><a href="/naming-rules/views"><i class="icon-chevron-right"></i>Views</a></li>
	      <li><a href="/naming-rules/models"><i class="icon-chevron-right"></i>Models</a></li>
	      <li><a href="/naming-rules/routes"><i class="icon-chevron-right"></i>Routes</a></li>
	      <li><a href="/naming-rules/assets"><i class="icon-chevron-right"></i>Assets</a></li>
	      <li><a href="/naming-rules/messages"><i class="icon-chevron-right"></i>Messages</a></li>
	</ul>
</div>
</div>
<div class="span10">
<div ng-view></div>
</div>
</div>

}