@(nav: String)

@scripts() = {
	 <script src="@routes.Assets.at("ngl-devguide/javascripts/naming-rules/app.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("ngl-devguide/javascripts/directives/directives.js")" type="text/javascript" charset="utf-8"></script>  	 
}

@main("Technologies", menu(nav), dvJavascripts(scripts()), dvCss()) {
<header>
 <div class="row-fluid">
    <div class="span11 offset1">
		<h1>Technologies, Concepts et Outils</h1>
		<p class="lead">Ensemble des technologies, concepts et outils pouvant être utilisées pour le développement d'une application web</p>
	</div>
</div>
</header> 	
<div class="row-fluid">
<div class="span2 hidden-print" >
<div id="navbar" class="well well-small subnav affix-top"  data-spy="affix" data-offset-top="100">
	<ul class="nav nav-list">
	      <li><a href="#client"><i class="icon-chevron-right"></i>Client</a></li>
	      <li><a href="#server"><i class="icon-chevron-right"></i>Serveur</a></li>                        
	      <li><a href="#data"><i class="icon-chevron-right"></i>Données</a></li>
	      <li><a href="#tools"><i class="icon-chevron-right"></i>Outils</a></li>	      
	</ul>
</div>
</div>

<div class="span10">
<section id="client">
<div class="page-header">
<h1>Client</h1>
<p>Le client dans une application web est le navigateur. Dans une application web moderne, il y a de plus en plus de code qui s'exécute coté client pour que les utilisateurs est la meilleure exéprience possible. Cela permet également de décharger le serveur de certains calculs.</p>
</div>
<ul>
<li><h3><a href="http://twitter.github.io/bootstrap/index.html" target="techno">Bootstrap</a><small> : Sleek, intuitive, and powerful front-end framework for faster and easier web development</small></h3></li>
<li><h3><a href="http://angularjs.org/" target="techno">AngularJS</a><small> : HTML enhanced for web apps!</small></h3></li>
<li><h3>HTML (version 5)</h3>
	<ul>
	<li><h3><a href="https://developer.mozilla.org/en-US/docs/Web/HTML">Mozilla Introduction</a></h3></li>
	<li><h3><a href="http://www.w3.org/TR/html5/">W3C Référence HTML5</a></h3></li>	
	</ul>
<li>
<li><h3>CSS (version 3)</h3>
	<ul>
	<li><h3><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">Mozilla Introduction</a></h3></li>
	<li><h3><a href="http://www.w3.org/TR/CSS/">W3C Référence</a></h3></li>
	</ul>
	</li>
	
	<li><h3>Javascript</h3>
	<ul>
	<li><h3><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Mozilla Introduction</a></h3></li>
	<li><h3><a href="http://www.w3.org/standards/webdesign/script">W3C Référence</a></h3></li>	
	</ul>
	</li>
</ul>

	

</section>
<section id="server">
<div class="page-header">
<h1>Serveur</h1>
<p>Le serveur dans une application web traite les requêtes des clients. Le serveur va recevoir des requêtes, les analyser et y répondre.</p>
</div>
<ul>
<li><h3><a href="http://www.playframework.com/" target="techno">Play Framework</a><small> : The High Velocity Web Framework For Java and Scala</small></h3></li>
<li><h3>Architecture REST</h3>
<ul>
<li><h3><a href="https://fr.wikipedia.org/wiki/Representational_State_Transfer">Wikipédia définition</a></h3></li>
<li><h3><a href="http://blog.nicolashachet.com/2012/06/15/niveaux/confirme/larchitecture-rest-expliquee-en-5-regles/">5 Règles de base</a></h3></li>
<li><h3><a href="http://mbaron.developpez.com/soa/rest/">Présentation</a></h3></li>
</ul>
</li>
<li><h3><a href="http://www.java.com/fr/" target="techno">Java</a></h3></li>
</ul>
</section>

<section id="data">
<div class="page-header">
<h1>Données</h1>
<p>La partie données correspond au stockage de l'information.</p>
</div>
<ul>
<li><h3><a href="http://www.mongodb.org/" target="techno">MongoDB</a><small> : MongoDB (from "humongous") is an open-source document database</small></h3></li>
<li><h3><a href="http://www.mysql.fr/" target="techno">MySql</a><small> : The world's most popular open source database</small></h3></li>
<li><h3><a href="http://freepdfdb.com/pdf/sql-92-reference" target="techno">Références SQL 92</a></h3></li>
</ul>
</section>

<section id="tools">
<div class="page-header">
<h1>Outils</h1>
<p>Liste des outils pour développer une application.</p>
</div>
<ul>
<li><h3><a href="http://www.eclipse.org/" target="techno">Eclipse</a><small> : IDE</small></h3>
<ul>
<li><h3><a href="http://www.eclipse.org/subversive/" target="techno">Plugin Subversive (Connection SVN)</a></h3></li>
<li><h3><a href="http://eclipse.org/mylyn" target="techno">Plugin Mylyn (Connection Jira)</a></h3></li>
<li><h3><a href="http://scala-ide.org/" target="techno">Scala IDE</a></h3></li>



</ul>
</li>
<li><h3><a href="http://www.playframework.com/documentation/2.1.1/PlayConsole" target="techno">Play Console (SBT)</a></h3></li>
<li><h3><a href="http://subversion.apache.org/" target="techno">Subversion (SVN)</a><small> : Enterprise-class centralized version control for the masses</small></h3>
	<ul>
	<li><h3><a href="https://gsphere.genoscope.cns.fr/svn/" target="techno">Genoscope SVN</a></h3></li>
	<li><h3><a href="http://svnbook.red-bean.com/" target="techno">Gestion de versions avec Subversion</a></h3></li>
	</ul>
</li>
<li><h3><a href="http://jenkins-ci.org/" target="techno">Jenkins</a><small> : An extendable open source continuous integration server</small></h3>
	<ul>
	<li><h3><a href="https://gsphere.genoscope.cns.fr/jenkins/" target="techno">Genoscope Jenkins</a></h3></li>
	</ul>
</li>
<li><h3><a href="http://www.sonarsource.org/" target="techno">Sonar</a><small> : Continuous Code Quality Management</small></h3>
	<ul>
	<li><h3><a href="https://gsphere.genoscope.cns.fr/sonar/" target="techno">Genoscope Sonar</a></h3></li>
	</ul>
</li>
<li><h3><a href="http://www.atlassian.com/fr/software/jira/" target="techno">Jira</a></h3>
	<ul>
	<li><h3><a href="https://gsphere.genoscope.cns.fr/jira/" target="techno">Genoscope Jira</a></h3></li>
	</ul>
</li>
<li><h3><a href="http://www.sonatype.org/nexus/" target="techno">Nexus</a><small> : Manage Artifacts</small></h3>
	<ul>
	<li><h3><a href="https://gsphere.genoscope.cns.fr/nexus/" target="techno">Genoscope Nexus</a></h3></li>
	</ul>
</li>
</ul>
</section>
</div>
</div>

}