@this()
@() 
@import views.html.helper._

@form() = {
	@columnSearchForm{
		@formGroup{
			<input type="text" class="form-control" ng-model="searchService.form.orderCode" placeholder='@Messages("order.code")'>
		}
		@formGroup{
			<input class="form-control" type="text" ng-model="searchService.form.createUser" typeahead="user.name as user.name for user in searchService.lists.getUsers() | filter:$viewValue | limitTo:20" placeholder='@Messages("kits.createUser")' title='@Messages("kits.createUser")'>	
		}
	}	
	@columnSearchForm{	
		@formGroup{
			<input type="text" class="form-control" ng-model="searchService.form.catalogRefCode" placeholder='@Messages("kits.catalogRefCode")'>
		}
		@formGroup{
			<input type="text" class="form-control" ng-model="searchService.form.providerOrderCode" placeholder='@Messages("order.providerCode")'>
		}
	}	
	
	@columnSearchForm{	
		@formGroup{
			<div bt-select placeholder="@Messages("kits.select.catalogCodes")" class="form-control" ng-model="searchService.form.catalogCodes" ng-class="errors.catalogCodes" bt-options="catalogCode.code as catalogCode.name for catalogCode in searchService.lists.getKitCatalogs()" multiple="true" filter="true">
			</div>
		}
	}	
	@columnSearchForm{
		@formGroup{
			<input class="form-control" type="text" ng-model="searchService.form.fromReceptionDate" placeholder='@Messages("kits.placeholder.fromReceptionDate")' title='@Messages("kits.placeholder.fromReceptionDate")'>	
						
		}
	}
	@columnSearchForm{
		@formGroup{
			<input class="form-control" type="text" ng-model="searchService.form.toReceptionDate" placeholder='@Messages("kits.placeholder.toReceptionDate")' title='@Messages("kits.placeholder.toReceptionDate")'>
					
		}
	}
		
}

@searchForm(form)()("searchService.datatable")