@this()
@() 
@import views.html.helper._

<div ng-class="message.clazz" ng-show="message.text !== undefined">
	<strong>{{message.text}}</strong><button class="btn btn-link" ng-click="message.showDetails=!message.showDetails" ng-show="message.isDetails">@(Messages("reagents.msg.details"))</button>
	<div ng-show="message.showDetails">
	    <ul>
    		<li ng-repeat="(key1, value1) in message.details">{{key1}}
    		<ul>
    			<li ng-repeat="(key2, value2) in value1"> {{value2}} </li>
    		</ul>
    		</li>
    	</ul>	
	</div>
</div>
	<div class="col-md-12 col-lg-12">
		<div class="row">
			  <div class="btn-toolbar toolbar">
				<h1 class="col-md-2 col-lg-2 declaration-title pull-left">
					{{getName()}} 
				</h1>
				<div class="col-md-2 col-lg-1 saveAndEditButtons" >
							<div class="form-control" bt-select ng-model="kit.declarationType"
								bt-options="obj.code as obj.name for obj in objectTypes"
								ng-readonly="!editMode || (kit.code != undefined && kit.code != '')" ng-disabled="(kit.code != undefined && kit.code != '')" ng-hide="(kit.code != undefined && kit.code != '')">
							</div>
				</div>
				<div class="col-md-2 col-lg-2 pull-right">
					<button class="btn btn-default saveAndEditButtons" ng-click="edit()" ng-show="editMode==false" data-toggle="tooltip" title="@Messages("declarations.kit.creation.edit")"><i class="fa fa-edit"></i></button>
					<button class="btn btn-default saveAndEditButtons" ng-click="unedit()" ng-show="editMode==true" data-toggle="tooltip" title="@Messages("declarations.kit.creation.unedit")"><i class="fa fa-undo"></i></button>	
					<button class="btn btn-primary saveAndEditButtons" ng-disabled="saveInProgress == true || !editMode || kit.declarationType=='' || kit.declarationType==undefined" ng-click="saveAll();" data-toggle="tooltip"  title="@Messages("declarations.kit.creation.save")">
						<i class="fa fa-save"></i>
					</button>
					<button class="btn btn-danger saveAndEditButtons" ng-disabled="saveInProgress == true || (kit.code == undefined ||  kit.code == '')" ng-click="removeKit()" data-toggle="tooltip"  title="@Messages("declarations.kit.creation.remove")">
						<i class="fa fa-trash-o fa-lg"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
	
		<div class="col-md-3 col-lg-4 pull-right">
				<div class="panel panel-default">
				  <div class="panel-heading">			  
				  <h2 class="panel-title">Info</h2>			  	
				  </div>
				  <div class="panel-body">
				  
				    <form class="form-horizontal">
				    @columnLabelValue(Messages("kits.creationDate")){
						<p class="form-control-static">{{kit.traceInformation.creationDate | date:'dd-MM-yyyy HH:mm:ss'}}</p>
					}
				    @columnLabelValue(Messages("kits.createUser")){
						<p class="form-control-static">{{kit.traceInformation.createUser}}</p>
					}
				   	@columnLabelValue(Messages("kits.modifyDate")){
						<p class="form-control-static">{{kit.traceInformation.modifyDate | date:'dd-MM-yyyy HH:mm:ss'}}</p>
					}	
				    @columnLabelValue(Messages("kits.modifyBy")){
						<p class="form-control-static">{{kit.traceInformation.modifyUser}}</p>
					}
				   			    								
					</form>
				  </div>
				</div>
			</div>
		<div class="col-md-7 col-lg-6">
			<div class="panel panel-default">
			  <div class="panel-heading">			  
			  <h2 class="panel-title">@Messages("kit.refCommand")</h2>			  	
			  </div>
			  <div class="panel-body">
			    <form class="form-horizontal">
				    <div class="form-group">
				    		<label class="col-md-4 col-lg-4 control-label">@Messages("order.code") :</label>
							<div ng-switch on="editMode">
								<p class="form-control-static" ng-switch-when="false">{{orderInformations.orderCode}}</p>
							<div ng-switch-when="true">
							<div class="col-md-5 col-lg-5" ng-class="getClass('orderCode')">
								<input type="text" class="form-control" ng-model="orderInformations.orderCode" ng-readonly="!editMode" ng-disabled="!editMode" />
								<span class="help-block">
		                            {{mainService.getError("orderInformations.orderCode")}}
		                        </span>
							</div>
							</div>
							</div>
					    	</div>
						    	<div class="form-group">
								<label class="col-md-4 col-lg-4 control-label">@Messages("order.providerCode") :</label>
								<div ng-switch on="editMode">
									<p class="form-control-static" ng-switch-when="false">{{orderInformations.providerOrderCode}}</p>
								<div ng-switch-when="true">
								<div class="col-md-5 col-lg-5" ng-class="getClass('providerOrderCode')">
									<input type="text" class="form-control" ng-model="orderInformations.providerOrderCode" ng-readonly="!editMode" ng-disabled="!editMode" />
									<span class="help-block">
			                            {{mainService.getError("orderInformations.providerOrderCode")}}
			                        </span>
								</div>
								</div>
								</div>
					    	</div>						
				</form>
			  </div>
			</div>
		</div>
		</div>
		<div class="row">
			<form class="form-horizontal col-md-12 col-lg-12">
				<div class="row">
				<div class="panel panel-default">
				  <div class="panel-heading">			  
				  <h2 class="panel-title">Information kit</h2>			  	
				  </div>
				  <div class="panel-body">
				   <div class="row">
					<div class="form-group">
						<label class="col-md-3 col-lg-3 control-label">@Messages("kit.catalogCode") :</label>
						<div class="col-md-2 col-lg-2" ng-class="getClass('kit.catalogCode')">
							<div class="form-control" filter="true" bt-select ng-model="kit.catalogCode"
							placeholder="@Messages("declarations.kit.creation.placeholder.kitCatalogCode")" 
							bt-options="kitCatalog.code as kitCatalog.name for kitCatalog in lists.getKitCatalogs()"
							ng-readonly="!editMode" ng-disabled="!editMode" ng-change="insertBoxes(true)" ng-edit="editMode">
							</div>
							<span class="help-block">
	                            {{mainService.getError("kit.catalogCode")}}
	                        </span>
						</div>
						<label class="col-md-2 col-lg-2 control-label">@Messages("kits.receptionDate") :</label>
						<div ng-switch on="editMode">
							<p class="form-control-static" ng-switch-when="false">{{kit.receptionDate|date:Messages("date.format")}}</p>
							<div ng-switch-when="true">
							<div class="col-md-2 col-lg-2" ng-class="getClass('kit.receptionDate')">
								<input type="text" class="form-control" ng-model="kit.receptionDate" ng-readonly="!editMode || kit.declarationType!='kit'" ng-disabled="!editMode || kit.declarationType!='kit'" date-timestamp>
								<span class="help-block">
		                            {{mainService.getError("kit.receptionDate")}}
		                        </span>
							</div>
						</div>
					</div>
					</div>		
						
			    </div>
			    <div class="row">
			    	<div class="form-group">
					<label class="col-md-3 col-lg-3 control-label">@Messages("kits.catalogRefCode") :</label>
						<div class="col-md-2 col-lg-2" ng-class="getClass('kit.catalogCode')">
							<div class="form-control" bt-select ng-model="kit.catalogCode"
							placeholder="@Messages("declarations.kit.creation.placeholder.catalogRefCode")" 
							bt-options="crc.code as crc.catalogRefCode for crc in catalogRefCodes"
							ng-readonly="true" ng-disabled="!editMode" ng-change="insertBoxes(true)" ng-edit="false">
							</div>
						</div>	
			    </div>
			    </div>
			    <div class="row">
			    	<div class="form-group">
			    		<label class="col-md-3 col-lg-3 control-label">@Messages("kits.comment") :</label>
			    		<div ng-switch on="editMode">
							<p class="form-control-static" ng-switch-when="false">{{kit.comment}}</p>
						<div ng-switch-when="true">
						<div class="col-md-5 col-lg-5" ng-class="getClass('kit.comment')">
							<textarea type="text" class="form-control" ng-model="kit.comment" ng-readonly="!editMode || kit.declarationType!='kit'" ng-disabled="!editMode || kit.declarationType!='kit'"></textarea>
							<span class="help-block">
	                            {{mainService.getError("kit.comment")}}
	                        </span>
						</div>
						</div>
			    	</div>
			    	</div>
			    	</div>
			    	</div>
			    	</div>
			    	</div>
		</form>
	</div>
	
<div class="row">
 	<h3>@Messages("declarations.box.list") : </h3>
 	<br>
 	 <!--<button title='@Messages("declarations.box.add")' data-toggle="tooltip" ng-disabled="!editMode" ng-click="addBox()" class="btn btn-default saveAndEditButtons" >
		 <i class="fa fa-plus"></i>
	 </button>-->
	
 	<ul class="nav nav-tabs" role="tablist" ng-if="boxes.length > 0">
 			<li ng-repeat="box in boxes"><a href="" role="tab"  data-target="#{{'box'+$index}}" data-toggle="tab"><button type="button" class="close ng-scope" ng-click="removeBox($index,box.code)" >x</button>{{box.catalogCode|codes:'boxCatalogs' || 'box'+$index}}</a></li>
	</ul>
	<span ng-if="boxes.length === 0">@Messages("declarations.box.empty")</span>
	<div class="tab-content">
		<br>
		<div ng-repeat="box in boxes" class="tab-pane" id="{{'box'+$index}}">
		<form class="form-horizontal">
		  	<div class="row">
				<div class="form-group">
				<label class="col-md-2 col-lg-2 control-label">@Messages("boxes.catalogRefCode") :</label>
					<div ng-switch on="editMode">
							<p class="form-control-static col-md-2 col-lg-2" ng-switch-when="false">{{box.catalogRefCode}}</p>
					<div ng-switch-when="true">
					<div class="col-md-1 col-lg-1" ng-class="getClass('boxes['+$index+'].catalogRefCode')">
						<input class="form-control" type="text" ng-change="checkCatalogRefCode($index)" ng-model="catalogRefCodeVerifications[$index].code" ng-readonly="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" ng-disabled="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')">
						<span class="help-block">
                           {{mainService.getError("boxes["+$index+"].catalogRefCode")}}
                     	</span>
					</div>
					</div>
					</div>	
					<label class="col-md-2 col-lg-2 control-label">@Messages("boxes.providerID") :</label>
					<div ng-switch on="editMode">
							<p class="form-control-static col-md-1 col-lg-1" ng-switch-when="false">{{box.providerID}}</p>
					<div ng-switch-when="true">
					<div class="col-md-2 col-lg-2" ng-class="getClass('boxes['+$index+'].providerID')">
						<input class="form-control" ng-change="boxBarCodeUpdate($index, box)" type="text" ng-model="box.providerID" ng-readonly="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" ng-disabled="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')">
						<span class="help-block">
                           {{mainService.getError("boxes["+$index+"].providerID")}}
                     		</span>
					</div>
					</div>
					</div>
					<label class="col-md-1 col-lg-1  control-label">@Messages("boxes.lotNumber") :</label>
					<div ng-switch on="editMode">
							<p class="form-control-static col-md-2 col-lg-2" ng-switch-when="false">{{box.lotNumber}}</p>
					<div ng-switch-when="true">
					<div class="col-md-2 col-lg-2" ng-class="getClass('boxes['+$index+'].lotNumber')">
						<input class="form-control" type="text" ng-model="box.lotNumber" ng-readonly="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" ng-disabled="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')">
						<span class="help-block">
                           {{mainService.getError("boxes["+$index+"].lotNumber")}}
                     	</span>
					</div>
					</div>
					</div>	
					
					
				</div>
			</div>
			  <div class="row">
		    	<div class="form-group">
					<label class="col-md-2 col-lg-2 control-label">@Messages("boxes.receptionDate") :</label>
					<div ng-switch on="editMode">
							<p class="form-control-static col-md-1 col-lg-1" ng-switch-when="false">{{box.receptionDate|date:Messages("date.format")}}</p>
					<div ng-switch-when="true">
					<div class="col-md-1 col-lg-1" ng-class="getClass('boxes['+$index+'].receptionDate')">
						<input type="text" class="form-control" ng-model="box.receptionDate" ng-readonly="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" ng-disabled="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" date-timestamp>
						<span class="help-block">
                            {{mainService.getError("boxes['+$index+'].receptionDate")}}
                        </span>
					</div>
					</div>
					</div>
					<label class="col-md-2 col-lg-2 control-label">@Messages("boxes.expirationDate") :</label>
					<div ng-switch on="editMode">
							<p class="form-control-static col-md-1 col-lg-1" ng-switch-when="false">{{box.expirationDate|date:Messages("date.format")}}</p>
					<div ng-switch-when="true">
					<div class="col-md-1 col-lg-1" ng-class="getClass('boxes['+$index+'].expirationDate')">
						<input type="text" class="form-control" ng-model="box.expirationDate" ng-readonly="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" ng-disabled="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" date-timestamp>
						<span class="help-block">
                            {{mainService.getError("boxes['+$index+'].stopToUseDate")}}
                        </span>
					</div>
					</div>
					</div>
					<label class="col-md-2 col-lg-2 control-label">@Messages("boxes.state.code") :</label>
					<div class="col-md-2 col-lg-2" ng-class="getClass('boxes['+$index+'].state.code')">
						<div class="form-control" bt-select ng-model="box.state.code"
						placeholder="@Messages("declarations.kit.creation.placeholder.state")" 
						bt-options="state.code as state.name for state in lists.getStates()"
						ng-readonly="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" 
						ng-disabled="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')"
						ng-edit="editMode">
						</div>
						<span class="help-block">
                            {{mainService.getError("boxes['+$index+'].state.code")}}
                        </span>
					</div>
				</div>
				
		    </div>
		    <div class="row">
		    	<div class="form-group">
		    	<label class="col-md-2 col-lg-2 control-label">@Messages("boxes.startToUseDate") :</label>
		    	<div ng-switch on="editMode">
							<p class="form-control-static col-md-1 col-lg-1" ng-switch-when="false">{{box.startToUseDate|date:Messages("date.format")}}</p>
					<div ng-switch-when="true">
					<div class="col-md-1 col-lg-1" ng-class="getClass('boxes['+$index+'].startToUseDate')">
						<input type="text" class="form-control" ng-model="box.startToUseDate" ng-readonly="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" ng-disabled="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" date-timestamp>
						<span class="help-block">
                            {{mainService.getError("boxes['+$index+'].startToUseDate")}}
                        </span>
					</div>
					</div>
					</div>
					<label class="col-md-2 col-lg-2 control-label">@Messages("boxes.stopToUseDate") :</label>
					<div ng-switch on="editMode">
							<p class="form-control-static col-md-1 col-lg-1" ng-switch-when="false">{{box.stopToUseDate|date:Messages("date.format")}}</p>
					<div ng-switch-when="true">
					<div class="col-md-1 col-lg-1" ng-class="getClass('boxes['+$index+'].stopToUseDate')">
						<input type="text" class="form-control" ng-model="box.stopToUseDate" ng-readonly="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" ng-disabled="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" date-timestamp>
						<span class="help-block">
                            {{mainService.getError("boxes['+$index+'].stopToUseDate")}}
                        </span>
					</div>
					</div>
					</div>
					<label class="col-md-2 col-lg-2 control-label">@Messages("boxes.stockInformation") :</label>
					<div ng-switch on="editMode">
							<p class="form-control-static col-md-1 col-lg-1" ng-switch-when="false">{{box.stockInformation}}</p>
					<div ng-switch-when="true">
					<div class="col-md-2 col-lg-2" ng-class="getClass('boxes['+$index+'].stockInformation')">
						<textarea type="text" class="form-control" ng-model="box.stockInformation" ng-readonly="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" ng-disabled="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')"></textarea>
						<span class="help-block">
                            {{mainService.getError("boxes['+$index+'].stockInformation")}}
                        </span>
					</div>
					</div>
					</div>
		    	</div>
		    	</div>
		    	    <div class="row">
		    	<div class="form-group">
		    		<label class="col-md-2 col-lg-2 control-label">@Messages("boxes.comment") :</label>
		    		<div ng-switch on="editMode">
							<p class="form-control-static col-md-4 col-lg-4" ng-switch-when="false">{{box.comment}}</p>
					<div ng-switch-when="true">
					<div class="col-md-4 col-lg-4" ng-class="getClass('boxes['+$index+'].comment')">
						<textarea type="text" class="form-control" ng-model="box.comment" ng-readonly="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')" ng-disabled="!editMode || (kit.declarationType!='kit' && kit.declarationType!='box')"></textarea>
						<span class="help-block">
                            {{mainService.getError("boxes['+$index+'].comment")}}
                        </span>
					</div>
					</div>
					</div>
		    	</div>
		    	</div>
			<br><br>
			</form>
			<div class="row">
				<h3>@Messages("declarations.reagent.list")</h3>
				<div class="col-md-12 col-lg-12" datatable="datatables[$index]"></div>
			</div>
		</div>
	</div>
</div>
</div>