@this(menu_ : menu)
@(code: String)

@import views.html._
 
@scripts() = {
	 <script src="@controllers.analyses.tpl.routes.Analyses.javascriptRoutes" type="text/javascript" charset="utf-8"></script>
     <script src="@controllers.main.tpl.routes.Main.jsCodes" type="text/javascript" charset="utf-8"></script> 
     <script src="@controllers.main.tpl.routes.Main.jsPermissions" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("lib/datatable/datatable/javascripts/services/ultimate-datatable.js")" type="text/javascript" charset="utf-8"></script>                           
     <script src="@routes.Assets.at("ngl-bi/javascripts/analyses/app.js")" type="text/javascript" charset="utf-8"></script> 
     <script src="@routes.Assets.at("ngl-bi/javascripts/commons/commons.js")" type="text/javascript" charset="utf-8"></script>                      
     <script src="@routes.Assets.at("lib/lib-frameworkweb/ngl-common/javascripts/controllers/mainctrl.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("ngl-bi/javascripts/analyses/services.js")" type="text/javascript" charset="utf-8"></script>   
     <script src="@routes.Assets.at("ngl-bi/javascripts/analyses/search-ctrl.js")" type="text/javascript" charset="utf-8"></script>   
     <script src="@routes.Assets.at("ngl-bi/javascripts/analyses/details-ctrl.js")" type="text/javascript" charset="utf-8"></script>     
     <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/commons.js")" type="text/javascript" charset="utf-8"></script>
     <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/bt-input.js")" type="text/javascript" charset="utf-8"></script>         
     <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/valuation.js")" type="text/javascript" charset="utf-8"></script>     
     <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/list-resize.js")" type="text/javascript" charset="utf-8"></script>    
     
}

@main("analyses.page.title", menu_("analyses."+code), scripts)(views.html.contents.lefttabs())

