@this()
@()

@import views.html.helper._
@form() = {

	@columnSearchForm{
		@formGroup{
			<div class="form-control" bt-select ng-model="searchService.form.projectCodes" multiple="true" textarea="true" filter="true" placeholder='@Messages("search.placeholder.projects")' bt-options="project.code as project|formatProjectListLabel for project in searchService.lists.getProjects()" ng-change="searchService.resetSampleCodes()"></div>			
		
		}
		@formGroup{
			<div class="form-control" bt-select ng-model="searchService.form.stateCodes" multiple="true" placeholder="@Messages("search.placeholder.states")" bt-options="state.code as state.name for state in searchService.states()"></div>			
		}								
						
	}
	@columnSearchForm{
		@formGroup{
			<div class="form-control" bt-select ng-model="searchService.form.sampleCodes" multiple="true" textarea="true" filter="true" placeholder='@Messages("search.placeholder.samples")' bt-options="sample.code as sample.code for sample in searchService.lists.getSamples()" ng-focus="searchService.refreshSamples()"></div>			
		
		}
		@formGroup{
			<div class="form-control" bt-select ng-model="searchService.form.validCode" placeholder="@Messages("search.placeholder.valid")" bt-options="valid.code as valid.name for valid in searchService.lists.getValuations()"></div>
		}
		
		
	}
	@columnSearchForm{
		@formGroup{					
			<bt-input class='form-control' textarea="true" input-ng-model="searchService.form.regexCode"  textarea-ng-model="searchService.form.regexCodes" placeholder='@Messages("search.placeholder.analyse.regexCode")'>
			
		}
		
		@formGroup{	
			<input type="text" class="form-control" ng-model="searchService.form.analyseValuationUser" typeahead="analyseValuationUser.name as analyseValuationUser.name for analyseValuationUser in searchService.lists.getUsers() | filter:$viewValue | limitTo:20"  placeholder='@Messages("search.placeholder.analyseValuationUser")' title='@Messages("search.placeholder.analyseValuationUser")'>
		}
		
				
	}	
	@columnSearchForm{
		@formGroup{
			<input type="text" class="form-control" ng-model="searchService.form.fromDate" placeholder='@Messages("search.placeholder.fromCreationDate")' date-timestamp>
		}

		@formGroup{		
			<bt-input class='form-control' textarea="true" input-ng-model="searchService.form.regexReadSetCode"  textarea-ng-model="searchService.form.readSetCodes" placeholder='@Messages("search.placeholder.readset.regexCode")'>
		}				
	}	
	
	@columnSearchForm{
		@formGroup{
			<input type="text" class="form-control" ng-model="searchService.form.toDate" placeholder='@Messages("search.placeholder.toCreationDate")'  date-timestamp>
		}

		@formGroup{					
			<div class="form-control" bt-select ng-model="searchService.form.typeCodes" multiple="true" placeholder="@Messages("search.placeholder.types")" bt-options="type.code as type.name for type in searchService.lists.getTypes()"></div>			
		}
	}		
}

@buttons() = {
	<div class="form-control" bt-select ng-model="searchService.reportingConfigurationCode" ng-change="searchService.updateColumn()" placeholder="@Messages("search.placeholder.reporting.configuration")" bt-options="valid.code as valid.name for valid in searchService.lists.get('reportConfigs')" ng-if="searchService.lists.get('reportConfigs').length > 0"></div>
}

<div class="row"> 
	<div class="col-md-12 col-lg-12" ultimate-datatable="searchService.datatable">
		<div udt-form>	
		  <ul class="nav nav-tabs margin-bottom-5">
	   	    <li class="active"><a href="#" data-target="#filters" data-toggle="tab">@Messages("search.tab.filters")</a></li>
	   	    <li ng-if="searchService.getAddFiltersToForm().length > 0"><a href="#" data-target="#addfilters" data-toggle="tab">@Messages("search.tab.addfilters")</a></li>  
	   	    <li ng-if="searchService.getAddColumnsToForm().length > 0"><a href="#" data-target="#addcolumns" data-toggle="tab">@Messages("search.tab.addcolumns")</a></li>  	
	      </ul>
			<div class="tab-content">
				<div class="tab-pane active" id="filters">
					<form class="well well-small">
						<div class="row">
						@form
						@columnSearchForm{
							@formGroup{
							<div class="btn-toolbar">
								<button type="submit" title='@Messages("button.search")' data-toggle="tooltip" ng-click="search()" class="btn btn-primary" >
									<i class="fa fa-search"></i>
								</button>
								<button title='@Messages("button.reset")' data-toggle="tooltip" ng-click="reset()"  class="btn btn-default">
									<i class="fa fa-undo"></i>
								</button>
															 	
							</div>	
							}	
							@formGroup{
								@buttons
							}
						}
						</div>		
					</form>	
				</div>
				
			<div class="tab-pane" id="addfilters">
			<form class="well well-small">
			<div class="row">
				<div class="col-md-2 col-lg-2" ng-repeat="filters in searchService.getAddFiltersToForm()">
					<div class="form-group" ng-repeat="filter in filters">
						<div udt-compile="filter.html"></div> <!-- used directive from datatable to compile html -->
					</div>
				</div>
				
				@columnSearchForm{
				@formGroup{
				<div class="btn-toolbar">
					<button type="submit" title='@Messages("button.search")' data-toggle="tooltip" ng-click="search()" class="btn btn-primary" >
						<i class="fa fa-search"></i>
					</button>
					<button title='@Messages("button.reset")' data-toggle="tooltip" ng-click="reset()"  class="btn btn-default">
						<i class="fa fa-undo"></i>
					</button>
												 	
				</div>	
				}	
				@formGroup{
					@buttons
				}
			}
			</div>			
		</form>	
		</div>
		<div class="tab-pane" id="addcolumns">
		<form class="well well-small">
			<div class="row">
			<div class="col-md-2 col-lg-2" ng-repeat="columns in searchService.getAddColumnsToForm()">
			  		<div class="checkbox" ng-repeat="column in columns">
				    <label>
				      <input type="checkbox" ng-model="column.select"> {{column.header}}
				    </label>
				  </div>			
			 </div>
			 @columnSearchForm{
				@formGroup{
				<div class="btn-toolbar">
					<button type="submit" title='@Messages("button.search")' data-toggle="tooltip" ng-click="searchService.addColumnsToDatatable()" class="btn btn-primary" >
						<i class="fa fa-plus"></i>
					</button>
					<button title='@Messages("button.reset")' data-toggle="tooltip" ng-click="searchService.resetDatatableColumns()"  class="btn btn-default">
						<i class="fa fa-undo"></i>
					</button>												 	
				</div>	
				}					
			}
			</div>			
		</form>	
	</div>
		
			</div>
		</div>
	</div>
</div> 

