@this()
@(code: String, media: String)

	
@if(code == "ngsrg-illumina") {
	@_treatments.ngsrg()		
}

@if(code == "ngsrg-nanopore"){
	@_treatments.ngsrgNanopore()
}

@if(code == "read-quality-nanopore"){
	@_treatments.readQualityNanopore()
}

@if(code == "duplicates") {
	@_treatments.duplicates()	
}

@if(code == "firstBaseReport"){
	@_treatments.firstBaseReport()
}

@if(code == "trimming") {
	@_treatments.trimming()
}

@if(code == "trimming-nanopore") {
	@_treatments.trimmingNanopore()
}


@if(code == "merging") {
	@_treatments.merging()
}


@if(code == "contamination") {
	@_treatments.contamination()
}



@if(code == "sorting-ribo") {
	@_treatments.sortingRibo()
}


@if(code == "mapping") {
	@if(media == "screen") {
		@_treatments.mapping()
	}
	@if(media == "print")  {
		@_treatments.mapping_print()
	} 
}

@if(code == "mapping-nanopore"){
	@_treatments.mappingNanopore()
}

@if(code == "read-quality") {
	@if(media == "screen") {
		@_treatments.readQuality()
	}
	@if(media == "print")  {
		@_treatments.readQuality_print()
	} 
}

@if(code == "taxonomy") {
	@if(media == "screen") {
		@_treatments.taxonomy()
	}
	@if(media == "print")  {
		@_treatments.taxonomy_print()
	}
}

@if(code == "exome"){
	@_treatments.exome()
}

@if(code == "gender"){
	@_treatments.gender()
}

@if(code == "minknow-metrichor"){
	@_treatments.minknowMetrichor()
}
@if(code == "minknow-basecalling"){
	@_treatments.minknowBasecalling()
}

@if(code == "rna-seq"){
	@_treatments.rnaSeq()
}

@if(code == "chromium"){
	@_treatments.chromium()
}

@if(code == "clustersdb-assignation"){
@_treatments.clusterDbAssignation()
}

@if(code == "check-fastq-index"){
@_treatments.checkFastqIndex()
}
