@()

@import views.html.helper._
@form() = {
	@columnSearchForm{			
		@formGroup{
			<div class="form-control" bt-select ng-model="searchService.form.projectCodes" multiple="true"  textarea="true" filter="true" placeholder='@Messages("search.placeholder.projects")' bt-options="project.code as project|formatProjectListLabel for project in searchService.lists.getProjects()" ng-change="searchService.resetSampleCodes()"></div>
		}
		@formGroup{
			<div bt-select placeholder="@Messages("containerSupports.select.state")" multiple="true" filter="true" class="form-control" ng-model="searchService.form.stateCodes" bt-options="stateCode.code as stateCode.name for stateCode in searchService.lists.getStates()" auto-select>
			</div>	
								
		}			
	}
	@columnSearchForm{
		@formGroup{
			<div class="form-control" bt-select ng-model="searchService.form.sampleCodes" multiple="true" textarea="true" filter="true" placeholder='@Messages("search.placeholder.samples")' bt-options="sample.code as sample.code for sample in searchService.lists.getSamples()" ng-focus="searchService.refreshSamples()"></div>			
		}
		@***  23/05/2016 NGL-825 FDS : remplacer recherche sur valuation.code par recherche Regex sur storage....
		@formGroup{
			<div class="form-control" bt-select ng-model="searchService.form.valuations" multiple="true" placeholder="@Messages("containerSupports.table.valid")" 
				bt-options="valuation.code as valuation.name for valuation in searchService.lists.getValuations()">
			</div>
		}
		***@
		
		@formGroup{  
		    @*** utiliser l'input classique et pas le bt-input car pas besoin de la textarea de saisie ici ***@      
			<input class="form-control" type="text" ng-model="searchService.form.storageCodeRegex"  placeholder='@Messages("search.placeholder.storage")' title='@Messages("search.placeholder.storage")'>				
		}	
	}
	@columnSearchForm{
		@formGroup{
			<div bt-select placeholder="@Messages("containerSupports.table.categoryCode")" class="form-control" multiple="true" ng-model="searchService.form.containerSupportCategories" bt-options="CategorySupport.code as CategorySupport.name for CategorySupport in searchService.lists.getContainerSupportCategories()"  auto-select>
			</div>			
		}
		@formGroup{
			@***    commentaire...
			<input class="form-control" type="text" ng-model="searchService.form.codeRegex"  placeholder='@Messages("search.placeholder.containerSupport")' title='@Messages("search.placeholder.containerSupport")'>			
			***@
			<bt-input  class="form-control"  input-ng-model="searchService.form.codeRegex" textarea-ng-model="searchService.form.codes" placeholder='@Messages("search.placeholder.containerSupport")' ></bt-input>			
									
		}
			
	}
	@columnSearchForm{
		@formGroup{
			<input class="form-control" type="text" ng-model="searchService.form.fromDate" placeholder='@Messages("containerSupports.placeholder.fromDate")' title='@Messages("containerSupports.placeholder.fromDate")'>	
						
		}
		@formGroup{
			<div class="form-control" bt-select ng-model="searchService.form.fromTransformationTypeCodes" multiple="true" placeholder="@Messages("containers.select.fromTransformationTypeCodes")" 
				bt-options="expType.code as expType.name for expType in searchService.lists.get('transformation',true)">
			</div>
		}
					
	}
	@columnSearchForm{
		@formGroup{
			<input class="form-control" type="text" ng-model="searchService.form.toDate" placeholder='@Messages("containerSupports.placeholder.toDate")' title='@Messages("containerSupports.placeholder.toDate")'>				
		}
		@formGroup{
			<input class="form-control" type="text" ng-model="searchService.form.createUser" typeahead="user.name as user.name for user in searchService.lists.getUsers() | filter:$viewValue | limitTo:20" placeholder='@Messages("containerSupports.table.createUser")' title='@Messages("containerSupports.placeholder.user")'>	
		}	
	}
			
}

@searchForm(form)()("searchService.datatable")