@()
<div class="row">
    <div class="col-md-8 col-lg-8">
        <table class="table table-condensed table-hover table-bordered table-striped form-horizontal">
            <thead>
                <tr>
                    <th>@Messages("containers.resultsqc.type")</th>
                    <th>@Messages("containers.resultsqc.results")</th>
                    <th>@Messages("containers.resultsqc.valuationComment")</th>
                    <th>@Messages("containers.resultsqc.valuation")</th>
                    <th>@Messages("containers.resultsqc.date")</th>                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="qc in container.qualityControlResults">
                    <td width="15%"><a ng-bind="qc.typeCode|codes:'type'" ng-href="/experiments/{{qc.code}}" target="experiment"></a></td>
                    <td  >
                        <div ng-repeat="(key, value) in qc.properties" ng-switch on="value._type === 'img'" class="row">
                            <div   ng-switch-when="true">
                            <div  class="col-md-12 col-lg-12" > </div>
                            <label  class="col-md-6 col-lg-6  control-label">{{key|codes:'property_definition'}} : </label>
                                <div ng-click="setImage(value.value,value.fullname,value.width,value.height)"  
                                                  ng-show="value !== undefined" >
                                <div data-target="#modalImage" role="button" data-toggle="modal" >
                                    <a href="#">
                                    <img ng-src="data:image/{{value.extension}};base64,{{value.value}}" width="40%" height="40%"/>
                                    </a>
                                </div>
                                </div>
                            </div>
                            <div ng-switch-when="false" ng-switch on="angular.isString(value.value)">
                                <label  class="col-md-6 col-lg-6  control-label">{{key|codes:'property_definition'}} : </label>
                                <div  class="col-md-6 col-lg-6" ng-switch-when="false" >
                                    <p class="form-control-static" ng-if="value.unit !== null">{{value.value|number:2}} {{value.unit}}</p>
                                    <p class="form-control-static" ng-if="value.unit === null">{{value.value|number:2}}</p>                                        
                                </div>
                                <div  class="col-md-6 col-lg-6" ng-switch-when="true" >
                                    <p class="form-control-static" ng-if="value.unit !== null">{{value.value}} {{value.unit}}</p>
                                    <p class="form-control-static" ng-if="value.unit === null">{{value.value}}</p>                                        
                                </div>                                
                            </div>
                        </div>
                    </td>
                    <td width="30%" ng-bind="qc.valuation.comment" />
                    <td  width="10%" ng-bind="qc.valuation.valid|codes:'valuation'" />
                    <td width="10%" ng-bind="qc.date|date:'@Messages("date.format")'" />                    
                </tr>                            
            </tbody>
        </table>
    </div>                
</div>