@()
<!-- ----------------------------------------------------------------------------- -->
<!-- Modal to display image in full size -->
	<div id="modalImage" class="modal fade"  tabindex="-1" role="dialog"
		aria-labelledby="modalImageLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-left:{{modalLeft}}px">
    		<div class="modal-content" style="width:{{modalWidth+2}}px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title">{{modalTitle}}</h3>	
				</div>
				<div class="modal-body" style="padding:0px">
					<img src="data:image/png;base64,{{modalImage}}" style="width:{{modalWidth}}px; height:{{modalHeight}}px;" />
				</div>
				<div class="modal-footer">
				</div>
			</div>
			</div>
		
	</div>