@this(menu_ : menu)
@(code: String)

@import views.html._

@scripts() = {
	 <script src="@controllers.runs.tpl.routes.Runs.javascriptRoutes" type="text/javascript" charset="utf-8"></script>
     <script src="@controllers.main.tpl.routes.Main.jsCodes" type="text/javascript" charset="utf-8"></script> 
     <script src="@controllers.main.tpl.routes.Main.jsPermissions" type="text/javascript" charset="utf-8"></script>
     <script src="@controllers.main.tpl.routes.Main.jsAppURL" type="text/javascript" charset="utf-8"></script>
     <script src="@helper.getAsset("javascripts","highcharts","4.0.1","highcharts.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("lib/datatable/datatable/javascripts/services/ultimate-datatable.js")" type="text/javascript" charset="utf-8"></script>                           
     <script src="@routes.Assets.at("ngl-bi/javascripts/runs/app.js")" type="text/javascript" charset="utf-8"></script> 
     <script src="@routes.Assets.at("ngl-bi/javascripts/runs/search-ctrl.js")" type="text/javascript" charset="utf-8"></script>   
     <script src="@routes.Assets.at("ngl-bi/javascripts/runs/details-ctrl.js")" type="text/javascript" charset="utf-8"></script>
     <script src="@routes.Assets.at("ngl-bi/javascripts/runs/services.js")" type="text/javascript" charset="utf-8"></script>         
     <script src="@routes.Assets.at("lib/lib-frameworkweb/ngl-common/javascripts/controllers/mainctrl.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/commons.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/bt-input.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/valuation.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/list-resize.js")" type="text/javascript" charset="utf-8"></script> 
	 <script src="@routes.Assets.at("ngl-bi/javascripts/commons/commons.js")" type="text/javascript" charset="utf-8"></script>
	 <script src="@routes.Assets.at("ngl-bi/javascripts/commons/workflowChart.js")" type="text/javascript" charset="utf-8"></script> 
	                     
     
}

@main("runs.page.title", menu_("runs."+code), scripts)(views.html.contents.lefttabs())

