@this()
@(code: String) 

@if(code == "ngsrg-illumina") {
<div ng-controller="LanesNGSRGIlluminaCtrl" ng-init="init()">
	<div ultimate-datatable="lanesNGSRG"></div>
</div>
} 
@if(code == "sav") {


<div ng-controller="LanesSAVCtrl" ng-init="init()">
	<div class="row">
		<div class="col-md-6 col-lg-7">
			<table class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th colspan="4" class="text-center">@Messages("run.title")</th>
					</tr>
					<tr>
						<th>@Messages("run.treatments.sav.default.yieldTotal")</th>
						<th>@Messages("run.treatments.sav.default.nonIndexedYieldTotal")</th>
						<th>@Messages("run.treatments.sav.default.Q30PercTotal")</th>
						<th>@Messages("run.treatments.sav.default.nonIndexedQ30PercTotal")</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{run.treatments.sav.default.yieldTotal.value | number:2}}</td>
						<td>{{run.treatments.sav.default.nonIndexedYieldTotal.value | number:2}}</td>
						<td>{{run.treatments.sav.default.Q30PercTotal.value | number:2}}</td>
						<td>{{run.treatments.sav.default.nonIndexedQ30PercTotal.value | number:2}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div ultimate-datatable="lanesSAVR1" style="overflow-x: auto"></div>
	<div ultimate-datatable="lanesSAVR2" style="overflow-x: auto"></div>
</div>

}
@if(code == "topindex"){

<div ng-controller="TopIndexCtrl"">
<div class=row>
<ul class="nav nav-tabs margin-bottom-5">
	<li class="active"><a href="#" data-target="#topIndex" data-toggle="tab">@Messages("runs.treatments.topIndex")</a></li>
	<li><a href="#" data-target="#tilesStats" data-toggle="tab">@Messages("runs.treatments.tilesStats")</a></li>    
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="topIndex" >
		<div class="col-md-10 col-lg-10">
			<div ng-repeat="lane in run.lanes" class="row" style="overflow-x: auto">
				<h4><span class="label label-info">Lane {{lane.number}}</span></h4>
				<table class="table table-condensed table-hover table-bordered">
					<thead>
						<tr>
							<th>@Messages("runs.treatments.topIndex.unknownIndex.sequence")</th>
							<th>@Messages("runs.treatments.topIndex.unknownIndex.percent")</th>
							<th ng-if="existIndexName(lane)" ng-repeat="value in lane.treatments.topIndex.default.varIndex.value | unique:'expectedIndexName' | orderBy:'expectedIndexName'">
								@Messages("runs.treatments.topIndex.distance") / {{value.expectedIndexName}}
							</th>
							<th ng-if="!existIndexName(lane)" ng-repeat="value in lane.treatments.topIndex.default.varIndex.value | unique:'expectedIndexSequence' | orderBy:'expectedIndexSequence'">
								@Messages("runs.treatments.topIndex.distance") / {{value.expectedIndexSequence}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="unknownIndex in lane.treatments.topIndex.default.unknownIndex.value">
							<td ng-if="unknownIndex.name!=null">{{unknownIndex.sequence}} ({{unknownIndex.name}})</td>
							<td ng-if="unknownIndex.name==null">{{unknownIndex.sequence}}</td>
							<td>{{unknownIndex.percent | number:2}}</td>
							<td ng-if="existIndexName(lane)" ng-repeat="value in lane.treatments.topIndex.default.varIndex.value | filter:{unknownIndexSequence:unknownIndex.sequence} | orderBy:'expectedIndexName'">
								{{value.distanceFromExpectedIndex | number}}
							</td>
							<td ng-if="!existIndexName(lane)" ng-repeat="value in lane.treatments.topIndex.default.varIndex.value | filter:{unknownIndexSequence:unknownIndex.sequence} | orderBy:'expectedIndexSequence'">
								{{value.distanceFromExpectedIndex | number}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="tilesStats">
		<div class="col-md-14 col-lg-14">
		    <div class="thumbnail" data-target="#myImageModal" role="button" data-toggle="modal" 
		ng-click="setImage(run.treatments.topIndex.default.tilesStats.value,'tilesStats','','topIndex',
		run.treatments.topIndex.default.tilesStats.width,
		run.treatments.topIndex.default.tilesStats.height)">
		 <a href="#">
		    <img id="default_tilesStats" ng-src="data:image/png;base64,{{run.treatments.topIndex.default.tilesStats.value}}" />
		 </a> 
	    </div>
		    
	    </div>
	 </div>
	</div>
		
</div>
</div>
}

@column()(value: Html) = {
	<div class="col-md-3 col-lg-3">
		@value
	</div>
}
