@this(menu_ : menu)
@(code: String)

@scripts() = {
	<script src="@controllers.authorisation.tpl.routes.Users.javascriptRoutes" type="text/javascript" charset="utf-8"></script>
    <script src="@controllers.main.tpl.routes.Main.jsCodes" type="text/javascript" charset="utf-8"></script> 
   <script src="@routes.Assets.at("lib/datatable/datatable/javascripts/services/ultimate-datatable.js")" type="text/javascript" charset="utf-8"></script>                      
    
    <script src="@routes.Assets.at("ngl-bi/javascripts/authorisation/users/app.js")" type="text/javascript" charset="utf-8"></script>
   	<script src="@routes.Assets.at("ngl-bi/javascripts/authorisation/users/search-ctrl.js")" type="text/javascript" charset="utf-8"></script> 
 	<!-- <script src="@routes.Assets.at("ngl-bi/javascripts/authorisation/users/details-ctrl.js")" type="text/javascript" charset="utf-8"></script> -->    
 	<script src="@routes.Assets.at("ngl-bi/javascripts/authorisation/users/services.js")" type="text/javascript" charset="utf-8"></script>
 	
 	<script src="@routes.Assets.at("lib/lib-frameworkweb/ngl-common/javascripts/controllers/mainctrl.js")" type="text/javascript" charset="utf-8"></script>
	<script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/commons.js")" type="text/javascript" charset="utf-8"></script> 
	<script src="@routes.Assets.at("lib/ngl-common/ngl-common/javascripts/services/list-resize.js")" type="text/javascript" charset="utf-8"></script> 
	<script src="@routes.Assets.at("ngl-bi/javascripts/commons/commons.js")" type="text/javascript" charset="utf-8"></script>
	
}

@views.html.main("authorisation.userroles.page", menu_("admin."+code), scripts)(views.html.contents.lefttabs())
